html {}


body {
    background-image: url(../images/hbg-small.jpg);
    background-repeat: no-repeat;
    background-position: left-top;
    background-size:cover;
    min-height:600px;
    max-height:600px
    margin-top:0;
}

.profile-box {
  border-radius: 25%;
  width: 400px;
  height: 470px;
  background-color:rgba(192,192,192,0.5);
  padding: 40px;
  color:white;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.prof-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.prof-name {
  font-weight: 200;
  letter-spacing: 5;
  font-size: 40px;
}

.prof-paragraph {
  text-align: justify;
  text-align-last: center;
}

.topnav {
    background-color:rgba(192,192,192,0.5);
    height:auto;
    display:inline-flex;
    overflow: hidden;
    border-radius:33%;
    font-family: 'Roboto Mono', monospace;
    margin-bottom:30px;
  }

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.welcome-content {
    color:white;
    background-color:rgba(192,192,192,0.5);
    width: 80%;
    display: inline-block;
    padding: 0 50px;
    text-align:justify;
    font-family: 'Roboto Mono', monospace;
    margin-bottom:100px
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(192,192,192,0.5);
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
